<!-- acts/templates/acts/acts_index.html -->

{% extends "base.html" %}

{% block page_content %}
<h1>Activities</h1>
<div class="row">
{% for  acts in acts %}
    <div class="col-md-4">
        <div class="card mb-2">
            {% if acts.image %}
            <img class="card-img-top" src="{{ acts.image.url }}">
        {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ acts.title }}</h5>
                <p class="card-text">{{ acts.description }}</p>
                <a href="{% url 'acts_detail' acts.pk %}"
                   class="btn btn-primary">
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}