body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
footer {
  margin-top: auto;
  min-width: 100%;
  width: initial;
  height: 60px; /* Adjust as needed */
  background-color: #333; /* Adjust as needed */
  color: #fff;
  padding: 10px 0px;
  text-align: center;
  z-index: 999;
}