{% load static %}
<header>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'header.css' %}">
           
    <nav>
            <ul class="left-aligned">
             <li> LOGO</li>
            </ul>
             <ul class="center-aligned">                   
             <li ><a href="/">Home</a></li>
             <li ><a href="acts/">About</a></li>
             <li ><a href="#Contact">Contact</a></li>
             </ul>
             <ul>
            {% if user.is_authenticated %}
                 Hi {{ user.username }}!
                 <li ><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
                 <li><a href="{% url 'login' %}">Login</a></li>
                 <li ><a href="{% url 'signup' %}">Register</a></li>
            {% endif %}
        </ul>
        
    </nav>
</header>


